.userStatus {
  min-width: 300px;
}

.userStatus__title {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.8em;
  height: 30px;
}

.userStatus__card {
  background: #ffffff;
  border: 1px solid #e4e4e4;
  padding: 30px 30px;
  margin-right: 20px;
}

.metric {
  margin-bottom: 10px;
}

.metric__number {
  color: #005788;
  font-size: 1.2em;
  font-weight: 500;
}

.metric__number-big {
  font-size: 70px;
  display: block;
  text-align: center;
  padding: 0.5em 0;
}

.hr-line {
  display: block;
  border-top: 1px solid #bbbbbb;
  padding: 1em;
}
