.imageDisplayer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  max-width: 700px;
}

.imageDisplayer__imgbox {
  position: relative;
  background: #4a1e41;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageDisplayer__imgbox > img {
  width: 350px;
}

.imageDisplayer__boundingbox {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
}
